h1 {
    text-align: center;
}


#weather {
    margin: 0 auto;
    max-width: 600px;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5em;
    position: relative;
    overflow: auto;
}

.weaicon {
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 4em;
}

.tiny1 {
    width: 14.2%;
    float: left;
    text-align: center;
}

.tiny1 > i {
    font-size: 2em;
}